
 body{
    cursor: pointer;
 }

.hero{
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translateY(50%);
    
}
.box-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
.form{
    /* display: flex; */
    margin: 0 auto;
    text-align: center;
   
}
.btnBox{
    list-style: none;
    display: flex;
    gap: 60px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.btnPlus{
    font-size: 30px;
    background-color: blue;
    padding:0 20px;
}
.btnPlus:active{
  background-color: darkcyan;
  cursor: pointer;
}
.btnMinus{
    font-size: 30px;
    background-color: red;
    padding:0 20px;
}
.btnMinus:active{
    background-color: darkred;
    cursor: pointer;

}
.btnMultiplication{
    font-size: 30px;
    background-color: darkolivegreen;
    padding:0 20px;
}
.btnMultiplication:active{
    background-color: green;
}

.btnDivision{
    font-size: 30px;
    background-color: chocolate;
    padding:0 20px;
}
.btnDivision:active{
    background-color:red ;
}
.text{
    /* text-align: start; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.result{
    font-size: 30px;
}
.firstNumber{
    padding: 10px;
    font-size: 20px;
}
.secondNumber{
    padding: 10px;
    font-size: 20px;
}
.total{
    font-size: 28px;
    color: black;
    border: 2px solid grey;
    padding: 10px;
    border-radius: 15px;
    /* background-color: brown; */
}
input{
    margin-bottom: 30px;
    border: 1px solid black;
}
